<table class="table-size">
  <thead>
    <tr>
      <th>First Name(<%= @employees.count%>)</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Salary</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.department %></td>
        <td><%= employee.salary %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= button_to 'Destroy', employee, method: :delete,  onclick: "return confirm('Are you sure?');"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
